/*********/
/*GENERAL*/
/*********/

a{
    font-style: inherit;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

p{
    font-size: 17px;
    font-family: 'Nunito', sans-serif;

}

h1{
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    width: 90%;
    margin: auto;
}

body{
    color: black;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; 
    width: 100vw; 
    font-family: 'Nunito', sans-serif;
}

article{
    width: 90vw;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30vh;
}

button{
    border: none;
    padding: 15px 0px;
    width: 130px;
    border-radius: 8px;
    text-transform: uppercase;
    color: rgb(61, 61, 61);
    margin: 0px 10px 0px 0px ;
}

button:hover{
    font-weight: bolder;
}

/******/
/*MENU*/
/******/

.blanc_bleu{    
    height: 5vh;
    background:radial-gradient(at 0% 0%,#4E6597, #82CEEF);
    position: fixed;
    width: 100%;
    z-index: 10000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(location_ecran_led_paris.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0px;
    padding: 0px;
}

nav {
    top: 5vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Nunito';
    z-index: 1000;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    transition: background-color 1ms ease;
}

.nav-loaded {
    box-shadow: 1px 1px 20px 0px steelblue;
    color: black;
    background-color: white; 
}



nav div {
    width: 100%;
    text-align: center;
    z-index: 1;
    display: flex;
    padding: 0px 0px 0px 10px;
}

ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 0px;
    position: absolute;
    justify-content: center;
    z-index: 2;
    height: 100%;
}

li:hover{
    border-bottom: 3px solid white;
}

li{
    margin: 0px 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
}

.li-loaded:hover{
    border-bottom: 3px solid black;
}

.text_header{
    position: relative;
    top: 80vh;
}

/**********/
/*Gallerie*/
/**********/

#Gallerie button{
    padding: 20px 0px;
    width: 25vh;
    border-radius: 8px;
    margin: 0px 10px 0px 0px;
    max-width: 40vw;
}

#Led{
    color:white;
    background:radial-gradient(at 0% 0%,#4E6597, #4E6597, #82CEEF);
}

.gallerie_Plasma{
    display: none;
}

#Gallerie img {
    width: 20vw;
    border-radius: 8%;
    margin: 2px;
    margin-top: 10px;
    height: 25vw;
    min-width: 300px;
    min-height: 350px;
}

img:checked{
    width: 150%;
    height:150%;
}

#Gallerie .bloc_button {
    width: 100%;
    border-bottom: 1px solid black;
}


/**************/
/*Presentation*/
/**************/

.sous_presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sous_presentation img{
    width: 30vw;
    height: 35vh;
    object-fit: cover;
    transition: width 1s, height 1s, transform 1s;
    min-width: 300px;
}

.sous_presentation img:hover{
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
}

.presentation_Led img{
    position: relative;
    left: 2vw;
}

.presentation_Plasma img{
    position: relative;
    right: 2vw;
}

section{
    width: 40vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

section p{
    width: 90%;
}

.presentation_Led section{
    background-color: #B0E0F5;
    padding: 15px;
}

.presentation_Plasma section{
    background-color: #E7CBCD;
    padding: 15px;
}


/**********/
/*A PROPOS*/
/**********/

.bloc3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sous_a_propos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bloc_button2{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    align-items: center;
}

.bloc_button2 button{
    margin-bottom: 2vh;
    max-width: 15vw;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bloc3 i{
    font-size: xx-large;
}

.bloc{
    width: 30vh;
    margin: 0vh 3vh;
}

#Avantages{
    color:white;
    background:radial-gradient(at 0% 0%,#4E6597, #4E6597, #82CEEF);
}


/***********/
/*PROCESSUS*/
/***********/

.bloc4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sous_processus{
    display: flex;
    flex-direction: column;
    width: 20vw;
    min-height: 30vh;
    padding: 2vh 5vw;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    justify-content: center;
    min-width: 300px;
}

.sous_processus:hover{
    background: radial-gradient(#ffffff 0%, #b5e3f7 15%, #b5e3f7 20%, #ffffff 30%);
}

.sous_processus i{
    color: #2DC1F463;
    font-size: 5em;
}

.sous_processus h4{
    font-size: 2em;
    margin: 20px;
}

.sous_processus p{
    font-size: 20px;
    min-height: 100px;
}

/*.step1{
    background: linear-gradient(to right, white, #5FCAF8);
}

.step2{
    background: linear-gradient(to right, #5FCAF8, #82CDEE);
}

.step3{
    background: linear-gradient(to right, #82CDEE, #4E6597);
}*/


/*************/
/*INFORMATION*/
/*************/

h2{
    width: 100%;
}

.bloc5{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}

.bloc5 i{
    color: #A73D46;
    font-size:xx-large;
}

.sous_information{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.chiffres{
    width: 30%;
    min-width: 300px;
    margin: auto;
}

.bloc5 img{
    width: 100%;
    height: 100%;
    min-width: 300px;
}


/*************/
/*PRESTATIONS*/
/*************/

.bloc6 {
    background-color: #82CEEF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    align-items: flex-start;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
}

.bloc6 h2{
    width: 100%;
}

.box1{
    width: 440px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.prestation_text {
    width: 30%;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    top: -20%;
    left: 3vh;
}

.prestation_text p{
    
}

.prestation_images {
    width: 65%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: 100%;
    top: 25%;
    /*justify-content: flex-end;
    left: 30%;*/
}

.prestation_images img{
    width: 200px;
    object-fit: cover;
    margin:0vh 20px;
    max-width: 200px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px grey;
}
  
.slider-1{
    animation: slider-1 12s infinite ease-in-out;
    display: flex;
}


/*********/
/*CONTACT*/
/*********/

.bloc7 {
    background-color: #C8E8F6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 3vw;
    width: 84vw;
    position: relative;
    min-width: 300px;
    align-items: center;
    align-content: center;
    justify-content: center;
}


form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10vh;
    margin-bottom: 2vh;
    width: 100%;
}

form input, form textarea{
    border: none;
    width: 100%;
    border-radius: 8px;
    padding-left: 10px;
    height: 45px;
}

form textarea{
    padding-top: 10px;
    font-family: 'Nunito';
}

.form2, .form3{
    width: 48%;
    min-width: 250px;
}

#order{
    width: auto;
    padding: 2vh 4vh;
    background:radial-gradient(at 0% 0%,#4E6597, #4E6597, #82CEEF);
    color: white;
}

.cart__order__form__submit {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

}

#order:hover{
    font-weight: bolder;
}


/*********/
/*sur-tel*/
/********/

@media (max-width: 770px) { 
    ul{
        display: none;
    }

    .bloc5{
        flex-direction: column;
    }

    #i4, #i2, #i3{
        display: none;
    }

    .prestation_images img {
        width: 240px;
    }

    .prestation_images{
        width: 220px;
    }

    .prestation_text {
        min-width: 300px;
        left: 0px;
        right: 0px;
        align-items: center;
        justify-content: center;
    }

    .bloc3, .sous_a_propos,.sous_information {
        justify-content: center;
    }

    .bloc5{
        align-items: center;
    }

    .sous_processus{
        margin: 0px;
    }

    .bloc4{
        justify-content: center;
    }

    .presentation_Led{
        flex-direction: column-reverse;
    }

    .sous_presentation img{
        right: 0vw;
        left: 0vw;
    }

    .bloc{
        min-width: 300px;
    }

    .blanc_bleu{
        position: relative;
    }

    nav{
        position: relative;
        top: 0vh;
    }

    
}


/*keyframes*/

@keyframes slider-1 {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-240px);
    }
    50%,
    70% {
      transform: translateX(-480px);
    }
    75%,
    95% {
      transform: translateX(-720px);
    }
    100% {
      transform: translateX(-960px);
    }
} 